<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinyue.credit.dao.CustomerManageDAO">
	<select id="getEvaluationsCountByManagerId" parameterType="String" resultType="int">
		select 
		    count(oi.id)
		from
		    c_manager_info mi,
		    m_order_info oi
		where
<!-- 		    add by lzc -->
		    mi.id = oi.receiver
			and oi.status = 10 and mi.id = #{managerId}
<!-- 			end -->
	</select>
	
	<select id="getEvaluationsOrderByStar" parameterType="hashmap" resultType="com.xinyue.credit.model.CustomerEvaluation">
		select 
		    oi.code as orderId,
	    	p.`name` AS productName,
			a.NAME AS applicant,
		    date_format(oi.evaluation_time, '%Y-%m-%d') as evaluationTime,
		    oi.level as starLevel
		from
		    c_manager_info mi,
		    m_order_info oi
<!-- 		add by lzc -->
		LEFT JOIN m_product_info p on  p.id = oi.product_info
		LEFT JOIN m_applicant_info a on a.id = oi.applicant_info
<!-- 		end -->
		where
		    mi.id = oi.receiver
<!-- 		    add by lzc -->
		    and oi.status = 10 and mi.id = #{managerId}
<!-- 		    end -->
		    <if test="star!=0">
		    and oi.level = #{star}
		    </if>
		order by oi.evaluation_time desc
		limit #{index} , 10;	
	</select>
</mapper>